$a: 78px;
$halfHeight: calc(50vh - #{$a});
$quarterHeight: calc(30vh - #{$a});

// Animations
@keyframes scene-animation {
  0% {
    opacity: 0;
  }
  25%,
  50% {
    opacity: 1;
  }
  75%,
  100% {
    opacity: 0;
  }
}

.scene-animation {
  opacity: 0;
  animation-name: scene-animation;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes title-animation {
  0%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-animation {
  opacity: 0;
  animation-name: title-animation;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes shrink-animation {
  0% {
    height: $halfHeight;
  }
  100% {
    height: 0;
  }
}

.shrink-animation {
  height: $halfHeight;
  animation-name: shrink-animation;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes delayed-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delayed-fade-and-translate {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.delayed-fade-in {
  .fade-in-element {
    opacity: 0;
    animation-name: delayed-fade-in;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
  .fade-first {
    opacity: 0;
    animation-name: delayed-fade-and-translate;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  .fade-second {
    opacity: 0;
    animation-name: delayed-fade-and-translate;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-duration: 2s;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
  }
}

.intro-paragraph {
  padding-top: calc(#{$quarterHeight} - 20px);
}

div.highlight.dark {
  color: black;
  * {
    transition-duration: 0.25s;
  }

  span {
    cursor: pointer;
  }
}

@keyframes highlight {
  from {
    background-position: -0% 0;
  }

  to {
  transition: background-position 0.8s ease-out;
  background-position: -99.99% 0;
  }
}

@keyframes highlightHover {
  from {
    background-position: -0% 0;
  }

  to {
  transition: background-position 0.5s ease-out;
  background-position: -99.99% 0;
  }
}

div.highlight.light {
  color: white;
  * {
    transition-duration: 0.25s;
  }

  span {
    cursor: pointer;
  }
}

div.highlight span {

}

//1984
.bg-gray-30 {
  div.highlight span {
    animation-name: highlightHover;
    background-color:rgba(242, 241, 235, 0.5);
  }

  div.highlight span:hover {
    background-image: linear-gradient(to right, rgba(242, 241, 235,0) 50%, #FFFEF8 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    background-position: -99.99% 0;
    transition: background-position 0.5s ease-out;
  }
}

//1989
.bg-slate {
  div.highlight span {
    animation-name: highlightHover;
    background-color:rgba(79, 83, 90, 0.5);
  }

  div.highlight span:hover {
    background-image: linear-gradient(to right, rgba(79, 83, 90,0) 50%, #656A73 50%);
    background-position: -0% 0;
    background-position: -99.99% 0;
    background-size: 200% auto;
    transition: background-position 0.5s ease-out;
  }
}

//1997
.bg-blue-50 {
  div.highlight span {
    animation-name:highlightHover;
    background-color:rgba(172, 213, 255, 0.5);
  }

  div.highlight span:hover {
    background-image: linear-gradient(to right, rgba(172, 213, 255,0) 50%, #95C9FF 50%);
    background-position: -0% 0;
    background-position: -99.99% 0;
    background-size: 200% auto;
    transition: background-position 0.5s ease-out;
  }
}

//2003
.bg-brown {
  div.highlight span {
    animation: hihglightHover;
    background-color:rgba(113, 97, 101, 0.5);
  }

  div.highlight span:hover {
    background-image: linear-gradient(to right, rgba(113,97,101,0) 50%, #8A767B 50%);
    background-position: -0% 0;
    background-position: -99.99% 0;
    background-size: 200% auto;
    transition: background-position 0.5s ease-out;
  }
}


//2014
.bg-yellow {
  div.highlight span {
    background-color:rgba(216, 204, 164, 0.5);
  }

  div.highlight span:hover {
    background-image: linear-gradient(to right, rgba(251, 248, 239,0) 50%, #F0FF95 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    background-position: -99.99% 0;
    transition: background-position 0.5s ease-out;
  }
}

//2014
.bg-purple {
  div.highlight span {
    background-color:rgba(251, 248, 239, 0.5);
  }

  div.highlight span:hover {
    background-image: linear-gradient(to right, rgba(229, 154, 238,0) 50%, #F6AFFF 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    background-position: -99.99% 0;
    transition: background-position 0.5s ease-out;
  }
}

.section-introduction {
  .border-t {
    --tw-border-opacity: 0.10;
    padding-bottom: 30px;
  }
}
