$a: 78px;
$halfHeight: calc(50vh - #{$a});
$quarterHeight: calc(30vh - #{$a});

// Animations
@keyframes scene-animation {
  0% {
    opacity: 0;
  }
  25%,
  50% {
    opacity: 1;
  }
  75%,
  100% {
    opacity: 0;
  }
}

.scene-animation {
  opacity: 0;
  animation-name: scene-animation;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes title-animation {
  0%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-animation {
  opacity: 0;
  animation-name: title-animation;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes shrink-animation {
  0% {
    height: $halfHeight;
  }
  100% {
    height: 0;
  }
}

.shrink-animation {
  height: $halfHeight;
  animation-name: shrink-animation;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes delayed-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delayed-fade-and-translate {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.delayed-fade-in {
  .fade-in-element {
    opacity: 0;
    animation-name: delayed-fade-in;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
  .fade-first {
    opacity: 0;
    animation-name: delayed-fade-and-translate;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  .fade-second {
    opacity: 0;
    animation-name: delayed-fade-and-translate;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-duration: 2s;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
  }
}

.intro-paragraph {
  padding-top: calc(#{$quarterHeight} - 20px);
}

div.highlight.dark {
  color: black;

  span {
    // make sure span keeps this color
    color: black !important;
    cursor: pointer;
  }
}

.bg-gray-30 {
  div.highlight.dark:hover {
    color: #6f6f6f; // gray-60
  }
}

.bg-brown {
  div.highlight.dark:hover {
    color: #3f2f27; // dark brown
  }
}

.bg-yellow {
  div.highlight.dark:hover {
    color: #68675f; // dark yellow
  }
}

.bg-purple {
  div.highlight.dark:hover {
    color: #453f50; // dark purple
  }
}

div.highlight.light {
  color: white;

  span {
    // make sure span keeps this color
    color: white !important;
    cursor: pointer;
  }
}

.bg-red {
  div.highlight.light:hover {
    color: #c7b1af; // light red
  }
}

.bg-blue-50 {
  div.highlight.light:hover {
    color: #91add3; // light blue
  }
}

.bg-black {
  div.highlight.light:hover {
    color: #bcb9b6; // gray-30
  }
}

.section-introduction {
  .border-t {
    --tw-border-opacity: 0.15;
    padding-bottom: 30px;
  }
}
