$a: 78px;
$halfHeight: calc(50vh - #{$a});
$quarterHeight: calc(30vh - #{$a});

// Animations
@keyframes scene-animation {
  0% {
    opacity: 0;
  }
  25%,
  50% {
    opacity: 1;
  }
  75%,
  100% {
    opacity: 0;
  }
}

.scene-animation {
  opacity: 0;
  animation-name: scene-animation;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes title-animation {
  0%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-animation {
  opacity: 0;
  animation-name: title-animation;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes shrink-animation {
  0% {
    height: $halfHeight;
  }
  100% {
    height: 0;
  }
}

.shrink-animation {
  height: $halfHeight;
  animation-name: shrink-animation;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes delayed-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delayed-fade-in .fade-in-element {
  opacity: 0;
  animation-name: delayed-fade-in;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.intro-paragraph {
  padding-top: calc(#{$quarterHeight} - 20px);
}
