// .home {
//   height: 100vh;
//   overflow-y: scroll;
//   scroll-snap-type: y mandatory;

.hero-image {
  position: sticky;
  top: 0;
  background-color: #000000;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.active {
  .title {
    opacity: 0;
    animation-name: foreground-fade-in-and-translate;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;

    &__english {
      animation-delay: 1s;
    }

    &__chinese {
      animation-delay: 1.125s;
    }

    &__year {
      animation-delay: 1.25s;
    }
  }
}

.title {
  opacity: 0;
}

.scene-name {
  top: 50%;
}

.arrow-down {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  svg {
    width: 20px;
    height: 20px;
    fill: white;
  }
}


// }
