.home {
  .bg-black {
    opacity: 1;
    pointer-events: none;
    animation-name: cover-fade-out;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
  }

  .hero-image {
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .active {
    &.down {
      .title {
        opacity: 0;
        animation-name: foreground-fade-in-and-translate;
        animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
        animation-duration: 1.5s;
        animation-delay: 0s;
        animation-fill-mode: forwards;

        &__english {
          animation-delay: 0s;
        }

        &__chinese {
          animation-delay: 0.125s;
        }

        &__year {
          animation-delay: 0.25s;
        }
      }
    }
  }

  .scene-name {
    top: 50%;
  }

  .arrow-down {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
    animation-name: foreground-fade-in-and-translate-down;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    svg {
      width: 20px;
      height: 20px;
      fill: white;
    }
  }
}

@keyframes cover-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
