/* The animation code */
@keyframes scene-animation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes title-animation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* The element to apply animations to */
.scene-animation {
  opacity: 0;
  animation-name: scene-animation;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.title-animation {
  opacity: 0;
  animation-name: title-animation;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
