@keyframes background-animation {
  0% {
    background-color: #f4f4f4;
  }
  100% {
    background-color: #090909;
  }
}

.background-animation {
  background-color: #f4f4f4;
  animation-name: background-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
