/* breakpoints: [375, 756, 1056, 1440, 1800], */

.sticky {
  position: -webkit-sticky !important; /* Safari */
  position: sticky !important;
  z-index: 998;
  background: white;
  top: 0;
}

.small-headline {
  font-family: LyonText;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.2px;
  color: #090909;
}

.medium-body {
  font-family: LyonText;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.1px;
  color: #090909;
}

.small-body {
  font-family: LyonText;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.1px;
  color: #090909;
}

.page-container {
  .directory__container {
    height: 519px;

    &.sticky {
      top: -345px;
    }

    .directory {
      height: 100%;

      .directory__list {
        display: flex;
        flex-direction: column;

        // each individual list item
        .directory__list-item {
          width: fit-content;
          cursor: pointer;

          /* fade in on un-hover */
          transition: 0.2s;
          opacity: 1;
        }

        &--selected {
          /* hide list after selection */
          visibility: hidden;
          transition: 0s;
        }

        .directory__list-item {
          &--selected {
            /* override visibility to bring back selected item */
            visibility: visible;

            /* shrinks font to small headline after selected */
            @extend .small-headline;
            transition: 0.2s;
          }

          &:hover {
            /* keep hovered item opaque */
            opacity: 1;
          }

          &.sticky {
            top: 44px;
          }
        }

        &--hover {
          // when list is hovered
          .directory__list-item {
            /* fade each individual list item */
            opacity: 0.2;
            transition: 0.2s;
          }
        }
      }

      .directory__item-description {
        /* vertically center description */
        display: flex;
        align-items: center;
        @extend .medium-body;

        &--visible {
          /* fade in */
          opacity: 1;
          transition: 0.2s;
        }

        &--hidden {
          /* fade out */
          opacity: 0;
          transition: 0.2s;
        }
      }
    }
  }

  .divider.thinnest {
    margin-top: 34px;
  }

  .lower-nav__container {
    &.sticky {
      top: 174px;
    }

    .lower-nav-bar {
      padding-top: 10px;
      padding-bottom: 40px;
    }
  }

  .event__container {
    &.sticky {
      top: 240px;
    }

    .event-header {
      padding-top: 20px;
      padding-bottom: 16px;
    }
  }

  .sub-event__container {
    padding-top: 15px;

    .index-entry .regular-caption {
      padding-bottom: 16px;
    }
  }
}

.page-container--mini {
  .directory__container {
    height: 310px;

    &.sticky {
      top: 44px;
    }

    .directory {
      height: 100%;

      .directory__list {
        .directory__list-item {
          /* shrinks font to small headline after selected */
          @extend .small-headline;
        }
      }

      .directory__item-description {
        @extend .small-body;
      }
    }
  }

  .lower-nav__container {
    &.sticky {
      top: 354px;
    }
  }

  .event__container {
    &.sticky {
      top: 420px;
    }
  }
}
