/* breakpoints: [375, 756, 1056, 1440, 1800], */

.sticky-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 44px;
  z-index: 999;
  background: white;
}

.Index .grid__container {
  padding-bottom: 214px;
}

.directory {
  padding-bottom: 100px;
}

.directory__list span:hover {
  opacity: 1;
  cursor: pointer;
}

.directory__list span {
  opacity: 1;
  transition: 0.2s;
}

.directory__list--hover span {
  opacity: 0.2;
  transition: 0.2s;
}

.directory__item-description {
  display: flex;
  align-items: center;
}

.directory__item-description--visible {
  opacity: 1;
  transition: 0.2s;
}

.directory__item-description--hidden {
  opacity: 0;
  transition: 0.2s;
}

.lower-nav-bar {
  padding-top: 10px;
  padding-bottom: 40px;
}

.divider.thin {
  margin-bottom: 20px;
}

.divider.thinnest {
  margin-top: 34px;
  margin-bottom: 15px;
}

.event-header {
  padding-bottom: 16px;
}

.index-entry div {
  padding-bottom: 16px;
}
