/* breakpoints: [375, 756, 1056, 1440, 1800], */

.container-1 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

@media screen and (max-width: 1439px) {
  .container-1 {
    margin-left: 58px !important;
    margin-right: 58px !important;
  }
}

@media screen and (max-width: 1055px) {
  .container-1 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}

@media screen and (max-width: 755px) {
  .container-1 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 374px) {
  .container-1 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
