.intro {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  .hero-image {
    background-color: #000008;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform 1s;

    &.hero-image-scale {
      transform: scale(1.1);
    }
  }

  .scene-name {
    top: 50%;
  }
}
