.intro {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  &.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    animation: hero-image-zoom 1.5s ease-out;
    animation-fill-mode: forwards;
  }

  .gradient-transition {
    height: 100vh;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4) 33%,
      rgba(0, 0, 0, 0) 66%,
      rgba(0, 0, 0, 0) 100%
    );
    background-size: 300% 100%;
    animation: gradient 2s ease-out;
    animation-fill-mode: forwards;
  }

  .blurb-content {
    bottom: 15%;
    opacity: 0;
    animation: translate-up 1.5s ease;
    animation-fill-mode: forwards;
  }
}

@keyframes translate-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes gradient {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes hero-image-zoom {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}
