.thematic-threads {
  &.black-white-background {
    background: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;

    &.white {
      transition: background-position 1s 1s;
      transition-timing-function: cubic-bezier(
        0.83,
        0,
        0.17,
        1
      ); // easeInOutQuint
      background-position: left;
    }

    &.black {
      transition: background-position 1s 1s;
      transition-timing-function: cubic-bezier(
        0.83,
        0,
        0.17,
        1
      ); // easeInOutQuint
      background-position: right;
    }

    .grid__row.hide {
      z-index: 0;
      transition: all 1s 0s; // disappear immediately
      opacity: 0;
      transform: translateX(-20px);
    }

    .grid__row.show {
      z-index: 1;
      transition: all 0.5s 2s; // reappear after background transition
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
