@import '../variables/breakpoints';

.left-menu-bullet {
  top: 6px;
  left: 24px;

  @media screen and (max-width: $md) {
    left: 12px;
  }
}

.left-menu-close {
  top: 16px;
  left: 20px;

  @media screen and (max-width: $md) {
    left: 9px;
  }
}

.page-title {
  top: 20px;
  left: 81px;

  @media screen and (max-width: $lg-minus-1) {
    // left margin + padding
    left: calc(3rem + 12px + 11px);
  }

  @media screen and (max-width: $md-minus-1) {
    // left margin + padding
    left: calc(10px + 12px + 12px);
  }
}
