@import '../variables/';

.left-menu-bullet {
  top: 7px;
  left: 24px;

  @media screen and (max-width: $md) {
    left: 12px;
  }
}

.page-title {
  top: 20px;
  left: 81px;

  @media screen and (max-width: $lg) {
    // left margin + padding
    left: calc(3rem + 12px + 11px);
  }
}

.left-timeline {
  border-left-width: 0.5px;
  --tw-border-opacity: 0.15;
  left: calc(3rem + 0.75rem);

  @media screen and (max-width: $xl-minus-1) {
    left: 70px;
  }

  @media screen and (max-width: $lg-minus-1) {
    display: none;
  }
}
