@import '../variables/';

.left-menu-bullet {
  top: 7px;
  left: 24px;

  @media screen and (max-width: $md) {
    left: 12px;
  }
}

.left-timeline {
  left: calc(3rem + 0.75rem);
  z-index: 1;

  @media screen and (max-width: $xl-minus-1) {
    left: 70px;
  }

  @media screen and (max-width: $lg-minus-1) {
    display: none;
  }

  @keyframes timeline-animation {
    0% {
      margin-bottom: 0;
    }
    100% {
      margin-bottom: 120px;
    }
  }

  .timeline-animation {
    margin-bottom: 0;
    animation-name: timeline-animation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes reverse-timeline-animation {
    0% {
      margin-bottom: 120px;
    }
    100% {
      margin-bottom: 0;
    }
  }

  .reverse-timeline-animation {
    margin-bottom: 120px;
    animation-name: reverse-timeline-animation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  .static-margin {
    margin-bottom: 120px;
  }
}
