// Modal

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  transition: transform 2s;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.modal-overlay {
  display: none;
  opacity: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  transition: opacity 2s;
}

.modal-height {
  height: calc(100vh - 6rem);
}

.background-color {
  background: linear-gradient(90deg, transparent 50%, white 50%);
}

/* The Close Button */
.close {
  color: black;
  svg {
    width: 20px;
    height: 20px;
  }
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}
