.index-resource-table-container {
  .resource-table-row:hover {
    p {
      color: #8d8d8d; // gray-50
    }

    .section-title p {
      color: black;
    }
  }

  .resource-title {
    padding-right: calc(100% / 6);
  }

  .entry-type {
    max-width: 70%;
  }
}
