.resource-table-container {
  &:hover {
    .resource-table-row {
      opacity: 0.5;
    }
  }

  .resource-table-row {
    &:hover {
      opacity: 1 !important;
    }
  }

  .resource-title {
    padding-right: calc(100% / 6);
  }

  .entry-type {
    max-width: 70%;
  }
}
