// breakpoints
$sm: 375px;
$sm-minus-1: 374px;
$md: 756px;
$md-minus-1: 755px;
$lg: 1056px;
$lg-minus-1: 1055px;
$xl: 1440px;
$xl-minus-1: 1439px;
$xxl: 1800px;
$xxl-minus-1: 1799px;

.left-menu {
  .menu-card {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    // offscreen left
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 1s;
    -webkit-transition: transform 1s;
  }

  .menu-overlay {
    opacity: 0;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    // offscreen left
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 0s, opacity 1s;
    -webkit-transition: transform 0s, opacity 1s;
  }

  .menu-background-filler {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;

    // default (margin 70px)
    // 10 columns
    background: linear-gradient(
      to right,
      black calc(70px - 1px + (100vw - 140px) / 12 * 4),
      transparent calc(70px - 1px + (100vw - 140px) / 12 * 4)
    );

    // xl, xxl (margin 60px)
    // 10 columns
    @media screen and (min-width: $xl) {
      background: linear-gradient(
        to right,
        black calc(60px - 1px + (100vw - 120px) / 12 * 4),
        transparent calc(60px - 1px + (100vw - 120px) / 12 * 4)
      );
    }

    // medium (margin 60px)
    // 10 columns
    @media screen and (max-width: $lg-minus-1) {
      background: linear-gradient(
        to right,
        black calc(60px - 1px + (100vw - 120px) / 12 * 7),
        transparent calc(60px - 1px + (100vw - 120px) / 12 * 7)
      );
    }

    // small, xs (margin 22px)
    // 11 columns
    @media screen and (max-width: $md-minus-1) {
      background: linear-gradient(
        to right,
        black calc(22px - 1px + (100vw - 44px) / 12 * 11),
        transparent calc(22px - 1px + (100vw - 44px) / 12 * 11)
      );
    }
  }

  /* The Close Button */
  .close {
    color: black;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }

  &__list {
    // transform down
    transition: transform 1s;

    &.transform {
      // transform up
      transition: transform 1s;
    }
  }

  &__year {
    // fade in non-selected years
    opacity: 100;
    transition: opacity 0.5s 1s;

    &.fade-out-content {
      // fade out non-selected years
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  &__scenes {
    // fade in blurb/scenes
    opacity: 100;
    transition: opacity 0.5s 1s;

    &.fade-out-content {
      // fade out blurb/scenes
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
}
