// breakpoints
$sm: 375px;
$sm-minus-1: 374px;
$md: 756px;
$md-minus-1: 755px;
$lg: 1056px;
$lg-minus-1: 1055px;
$xl: 1440px;
$xl-minus-1: 1439px;
$xxl: 1800px;
$xxl-minus-1: 1799px;

.resource-table-container {
  &:hover {
    .resource-table-row {
      opacity: 0.5;
    }
  }

  .resource-table-row {
    &:hover {
      opacity: 1 !important;
    }
  }

  .resource-title {
    padding-right: calc(100% / 6);

    // sm, xs
    @media screen and (max-width: $md-minus-1) {
      padding-right: 0;
    }
  }

  .entry-type {
    max-width: 70%;
  }
}
