@import '../variables/breakpoints';

.year-timeline {
  border-left-width: 1px;
  border-color: rgba(255, 255, 255, 0.15); // white, opacity 0.15
  position: absolute;
  top: 0;
  left: 3.75rem; // margin-left: 3rem + padding-left: 12px
  z-index: 10;

  @media screen and (max-width: $xl-minus-1) {
    left: 70px; // margin-left: 58px + padding-left: 12px
  }

  @media screen and (max-width: $lg-minus-1) {
    display: none; // do not display timeline below large breakpoint
  }

  &__container {
    bottom: 6px;
  }

  &__scene-timeline {
    // scene timeline
    margin-left: -1px; // move scene timeline onto year timeline
    border-left-width: 1px;
    border-color: rgba(255, 255, 255, 1); // white, opaque

    &.gray {
      border-color: #bcb9b6;
    }

    &.red {
      border-color: #6e0e0e;
    }

    &.blue {
      border-color: #25528e;
    }

    &.yellow {
      border-color: #e8e5d2;
    }

    &.purple {
      border-color: #9c8cb5;
    }

    &.brown {
      border-color: #936753;
    }

    .circle {
      position: absolute;
      left: -7px; // move circle onto timeline
      width: 13px;
      height: 13px;
      border: 1px solid;
      border-radius: 50%;
      border-color: rgba(255, 255, 255, 0); // transparent

      &.current-scene {
        border-color: rgba(255, 255, 255, 1); // opaque

        &.gray {
          border-color: #bcb9b6;
        }

        &.red {
          border-color: #6e0e0e;
        }

        &.blue {
          border-color: #25528e;
        }

        &.yellow {
          border-color: #e8e5d2;
        }

        &.purple {
          border-color: #9c8cb5;
        }

        &.brown {
          border-color: #936753;
        }
      }

      .dot {
        position: absolute;
        height: 3px;
        width: 3px;
        background-color: white;
        border-radius: 50%;

        &.gray {
          background-color: #bcb9b6;
        }

        &.red {
          background-color: #6e0e0e;
        }

        &.blue {
          background-color: #25528e;
        }

        &.yellow {
          background-color: #e8e5d2;
        }

        &.purple {
          background-color: #9c8cb5;
        }

        &.brown {
          background-color: #936753;
        }
      }
    }

    &.collapsed {
      padding-bottom: 0;
      border-color: rgba(255, 255, 255, 0); // transparent left border
      transition: padding-bottom 1s, border-color 1s, color 0.5s,
        background-color 0.5s; // collapse timeline and fade out

      .circle {
        border-color: rgba(255, 255, 255, 0); // white, transparent
      }

      .dot {
        opacity: 0;
      }
    }

    &.expanded {
      transition: padding-bottom 1s, border-color 0.5s, color 0.5s,
        background-color 0.5s; // expand timeline animation

      &.num-scenes-1 {
        padding-bottom: calc(1 * 24px);
      }
      &.num-scenes-2 {
        padding-bottom: calc(2 * 24px);
      }
      &.num-scenes-3 {
        padding-bottom: calc(3 * 24px);
      }
      &.num-scenes-4 {
        padding-bottom: calc(4 * 24px);
      }
      &.num-scenes-5 {
        padding-bottom: calc(5 * 24px);
      }
      &.num-scenes-6 {
        padding-bottom: calc(6 * 24px);
      }
      &.num-scenes-7 {
        padding-bottom: calc(7 * 24px);
      }
      &.num-scenes-8 {
        padding-bottom: calc(8 * 24px);
      }
    }
  }

  .circle {
    &.show {
      opacity: 1;
      transition: opacity 0s 1s, border-color 1s, color 0.5s,
        background-color 0.5s; // delay appearance of circle, dots, fade circle in
    }

    &.hide {
      opacity: 0;
    }
  }
}
