@import '../variables/';

.left-timeline {
  border-left-width: 0.5px;
  --tw-border-opacity: 0.15;
  left: calc(3rem + 0.75rem);

  @media screen and (max-width: $xl-minus-1) {
    left: 70px;
  }

  @media screen and (max-width: $lg-minus-1) {
    display: none;
  }

  &__current-year {
    margin-left: -17px;
    transition: padding-bottom 1s;

    .circle {
      width: 13px;
      height: 13px;
      position: absolute;
      left: -23px;
      border: 1px solid white;
      border-radius: 50%;
      color: white;
      text-align: center;
      line-height: 10px;

      transition: margin-top 1s;
    }

    .dot {
      height: 3px;
      width: 3px;
      position: absolute;
      left: -18px;
      background-color: white;
      border-radius: 50%;
      display: inline-block;
    }
  }
}
