$headerHeight: 78px;
$screenMinusHeader: calc(100vh - #{$headerHeight});

// breakpoints
$sm: 375px;
$sm-minus-1: 374px;
$md: 756px;
$md-minus-1: 755px;
$lg: 1056px;
$lg-minus-1: 1055px;
$xl: 1440px;
$xl-minus-1: 1439px;
$xxl: 1800px;
$xxl-minus-1: 1799px;

@font-face {
  font-family: LyonText;
  src: url('./LyonText-Regular.otf') format('opentype');
}

@font-face {
  font-family: Graphik-Regular;
  src: url('./Graphik-Regular.otf') format('opentype');
}

@font-face {
  font-family: Graphik-Medium;
  src: url('./Graphik-Medium.otf') format('opentype');
}

@font-face {
  font-family: NotoSerifJP-Regular;
  src: url('./NotoSerifJP-Regular.otf') format('opentype');
  font-display: block;
}

a {
  color: black;
  text-decoration: none;
}

.large-headline-static {
  font-family: LyonText;
  font-size: 3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.03em;

  // md
  @media screen and (max-width: $lg-minus-1) {
    font-size: 36px;
  }

  // sm, xs
  @media screen and (max-width: $md-minus-1) {
    font-size: 26px;
  }
}

.large-headline-dynamic {
  @extend .large-headline-static;
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.medium-headline {
  font-family: LyonText;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 38px;
  letter-spacing: -0.32px;
}

.small-headline {
  font-family: LyonText;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.2px;

  @media screen and (max-width: $lg-minus-1) {
    font-size: 20px;
  }
}

.mobile-headline {
  font-family: LyonText;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.headline-characters {
  font-family: NotoSerifJP-Regular;
  font-style: normal;
  font-size: 24px;
  line-height: 120%;
}

.mobile-characters {
  font-family: NotoSerifJP-Regular;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
}

.medium-body {
  font-family: LyonText;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: -0.1px;
}

.small-body {
  font-family: Graphik-Regular;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5s;
  letter-spacing: normal;
}

.medium-caption {
  font-family: Graphik-Regular;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contrast-text {
  background-color: black;
  color: white;
  mix-blend-mode: difference;
  transition: color 0.5s 1s;

  &.gray {
    color: #bfbfbf;
    transition: color 0.5s 1s;
  }
}

.grid__row {
  padding-left: 11px;
  padding-right: 11px;
}

.grid__container {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

// breakpoints: [375, 756, 1056, 1440, 1800]
// lg (up to xl-minus-1)
@media screen and (max-width: $xl-minus-1) {
  .grid__container {
    margin-left: 58px !important;
    margin-right: 58px !important;
  }
}

// md (up to lg-minus-1)
@media screen and (max-width: $lg-minus-1) {
  .grid__container {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}

// sm (up to md-minus-1)
@media screen and (max-width: $md-minus-1) {
  .grid__container {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

// xs (up to sm-minus-1)
@media screen and (max-width: $sm-minus-1) {
  .grid__container {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

#overflow-container {
  width: 100%;
  height: $screenMinusHeader;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: content-box; /* So the width will be 100% + 17px */
  padding-right: calc(
    17px + 3rem
  ); /* Increase/decrease this value for cross-browser compatibility */

  @media screen and (max-width: $xl-minus-1) {
    padding-right: calc(
      17px + 58px
    ); /* Increase/decrease this value for cross-browser compatibility */
  }

  // md (up to lg-minus-1)
  @media screen and (max-width: $lg-minus-1) {
    padding-right: calc(
      17px + 3rem
    ); /* Increase/decrease this value for cross-browser compatibility */
  }

  // sm (up to md-minus-1)
  @media screen and (max-width: $md-minus-1) {
    padding-right: calc(
      17px + 10px
    ); /* Increase/decrease this value for cross-browser compatibility */
  }

  // xs (up to sm-minus-1)
  @media screen and (max-width: $sm-minus-1) {
    padding-right: calc(
      17px + 10px
    ); /* Increase/decrease this value for cross-browser compatibility */
  }
}

// Transitions
.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.screen-shrink {
  height: 0vh;
  transition: height 1s 1s;
  -webkit-transition: height 1s 1s;
}

// Animations
@keyframes foreground-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.foreground-fade-in {
  img,
  p {
    opacity: 0;
    animation-name: foreground-fade-in;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
}
