// breakpoints
$sm: 375px;
$sm-minus-1: 374px;
$md: 756px;
$md-minus-1: 755px;
$lg: 1056px;
$lg-minus-1: 1055px;
$xl: 1440px;
$xl-minus-1: 1439px;
$xxl: 1800px;
$xxl-minus-1: 1799px;

@font-face {
  font-family: 'Lyon Display Web';
  // src: url('LyonDisplay-LightItalic-Web.otf') format('opentype'),
  src: url('LyonDisplay-LightItalic-Web.woff2') format('woff2'),
    url('LyonDisplay-LightItalic-Web.woff') format('woff'),
    url('LyonDisplay-LightItalic-Web.eot') format('eot'),
    url('LyonDisplay-LightItalic-Web.ttf') format('truetype'),
    url('LyonDisplay-LightItalic-Web.svg') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

.LyonDisplay-LightItalic-Web {
  font-family: 'Lyon Display Web';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Lyon Display Web';
  // src: url('LyonDisplay-Light-Web.otf') format('opentype'),
  src: url('LyonDisplay-Light-Web.woff2') format('woff2'),
    url('LyonDisplay-Light-Web.woff') format('woff'),
    url('LyonDisplay-Light-Web.eot') format('eot'),
    url('LyonDisplay-Light-Web.ttf') format('truetype'),
    url('LyonDisplay-Light-Web.svg') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

.LyonDisplay-Light-Web {
  font-family: 'Lyon Display Web';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: LyonText;
  // src: url('./LyonText-Regular.otf') format('opentype'),
  src: url('LyonText-Regular.woff2') format('woff2'),
    url('LyonText-Regular.woff') format('woff'),
    url('LyonText-Regular.eot') format('eot'),
    url('LyonText-Regular.ttf') format('truetype'),
    url('LyonText-Regular.svg') format('svg');
}

@font-face {
  font-family: Graphik-Regular;
  src: url('./Graphik-Regular.otf') format('opentype'),
    url('Graphik-Regular.woff2') format('woff2'),
    url('Graphik-Regular.woff') format('woff'),
    url('Graphik-Regular.eot') format('eot'),
    url('Graphik-Regular.ttf') format('truetype'),
    url('Graphik-Regular.svg') format('svg');
}

@font-face {
  font-family: Graphik-Medium;
  src: url('./Graphik-Medium.otf') format('opentype'),
    url('Graphik-Medium.woff2') format('woff2'),
    url('Graphik-Medium.woff') format('woff'),
    url('Graphik-Medium.eot') format('eot'),
    url('Graphik-Medium.ttf') format('truetype'),
    url('Graphik-Medium.svg') format('svg');
}

@font-face {
  font-family: NotoSerifTC-Regular;
  src: url('./NotoSerifTC-Regular.otf') format('opentype'),
    url('NotoSerifTC-Regular.woff2') format('woff2'),
    url('NotoSerifTC-Regular.woff') format('woff'),
    url('NotoSerifTC-Regular.eot') format('eot'),
    url('NotoSerifTC-Regular.ttf') format('truetype'),
    url('NotoSerifTC-Regular.svg') format('svg');
  font-display: swap;
}

@font-face {
  font-family: NotoSerifTC-Medium;
  src: url('./NotoSerifTC-Medium.otf') format('opentype'),
    url('NotoSerifTC-Medium.woff2') format('woff2'),
    url('NotoSerifTC-Medium.woff') format('woff'),
    url('NotoSerifTC-Medium.eot') format('eot'),
    url('NotoSerifTC-Medium.ttf') format('truetype'),
    url('NotoSerifTC-Medium.svg') format('svg');
  font-display: swap;
}

@font-face {
  font-family: NotoSerifTC-SemiBold;
  src: url('./NotoSerifTC-SemiBold.otf') format('opentype'),
    url('NotoSerifTC-SemiBold.woff2') format('woff2'),
    url('NotoSerifTC-SemiBold.woff') format('woff'),
    url('NotoSerifTC-SemiBold.eot') format('eot'),
    url('NotoSerifTC-SemiBold.ttf') format('truetype'),
    url('NotoSerifTC-SemiBold.svg') format('svg');
  font-display: swap;
}

a {
  color: black;
  text-decoration: none;
}

.thematic-thread-headline {
  @extend .LyonDisplay-Light-Web;
  font-size: 100px;
  line-height: 1;
  letter-spacing: 0;
  max-width: fit-content;

  span {
    @extend .LyonDisplay-LightItalic-Web;
  }

  // md
  @media screen and (max-width: $lg-minus-1) {
    font-size: 36px;
  }

  // sm, xs
  @media screen and (max-width: $md-minus-1) {
    font-size: 26px;
  }
}

.large-headline-static {
  font-family: LyonText;
  font-size: 3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.03em;

  // md
  @media screen and (max-width: $lg-minus-1) {
    font-size: 36px;
  }

  // sm, xs
  @media screen and (max-width: $md-minus-1) {
    font-size: 26px;
  }
}

.event .large-headline-static {
  span {
    // highlight will go here
  }
}

.Index .large-headline-static {
  span {
    @extend .LyonDisplay-LightItalic-Web;
  }
}

.large-headline-dynamic {
  @extend .large-headline-static;
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.medium-headline {
  font-family: LyonText;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 38px;
  letter-spacing: -0.32px;
}

.small-headline {
  font-family: LyonText;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.2px;

  @media screen and (max-width: $lg-minus-1) {
    font-size: 20px;
  }

  @media screen and (max-width: $md-minus-1) {
    font-size: 16px;
    line-height: 1.2;
  }
}

.mobile-headline {
  font-family: LyonText;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.headline-characters {
  font-family: NotoSerifTC-Regular;
  font-style: normal;
  font-size: 24px;
  line-height: 120%;
}

.mobile-characters {
  font-family: NotoSerifTC-Regular;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
}

.title__chinese {
  font-family: NotoSerifTC-SemiBold;
  margin-bottom: 2px;
}

.medium-body {
  font-family: LyonText;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: -0.1px;

  @media screen and (max-width: $md-minus-1) {
    font-size: 16px;
  }
}

.small-body {
  font-family: Graphik-Regular;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;

  @media screen and (max-width: $md-minus-1) {
    font-size: 12px;
  }
}

.small-body-2 {
  font-family: Graphik-Regular;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;

  @media screen and (max-width: $md-minus-1) {
    font-size: 12px;
  }
}

.medium-caption {
  font-family: Graphik-Regular;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contrast-text {
  background-color: black;
  color: white;
  transition: color 0.5s, opacity 1s;

  &.bg-gray-30 {
    color: #bcb9b6;
    transition: color 0.5s, opacity 1s;
    mix-blend-mode: difference;
  }

  &.bg-slate {
    // color: #17191E;
    transition: color 0.5s, opacity 1s;
    mix-blend-mode: screen;
  }

  &.bg-blue-50 {
    color: #D6E6F7;
    transition: color 0.5s, opacity 1s;
    mix-blend-mode: difference;
  }

  &.bg-blue-70 {
    // color: #00244e;
    transition: color 0.5s, opacity 1s;
    mix-blend-mode: screen;
  }

  &.bg-yellow {
    color: #FBF8EE;
    transition: color 0.5s, opacity 1s;
    mix-blend-mode: difference;
  }

  &.bg-purple {
    color: #E0D0E2;
    transition: color 0.5s, opacity 1s;
    mix-blend-mode: difference;
  }

  &.bg-brown {
    // color: #33262A;
    transition: color 0.5s, opacity 1s;
    mix-blend-mode: screen;
  }
}

.grid__row {
  padding-left: 11px;
  padding-right: 11px;
}

.grid__container {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

// breakpoints: [375, 756, 1056, 1440, 1800]
// lg (up to xl-minus-1)
@media screen and (max-width: $xl-minus-1) {
  .grid__container {
    margin-left: 58px !important;
    margin-right: 58px !important;
  }
}

// md (up to lg-minus-1)
@media screen and (max-width: $lg-minus-1) {
  .grid__container {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}

// sm (up to md-minus-1)
@media screen and (max-width: $md-minus-1) {
  .grid__container {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

// xs (up to sm-minus-1)
@media screen and (max-width: $sm-minus-1) {
  .grid__container {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

// Transitions
.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
  -webkit-transition: opacity 0.5s 0.5s;
}

.h-95vh {
  height: 95vh;
}

.screen-shrink {
  height: 0vh;
  transition: height 1s 1s;
  -webkit-transition: height 1s 1s;
  transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1); // easeInOutQuint
}

// Animations
@keyframes foreground-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes foreground-fade-in-and-translate {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

// arrow down
@keyframes foreground-fade-in-and-translate-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.foreground-fade-in {
  .fade-in-element {
    opacity: 0;
    animation-name: foreground-fade-in;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  .fade-first {
    opacity: 0;
    animation-name: foreground-fade-in-and-translate;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-duration: 2s;
    animation-delay: -1s;
    animation-fill-mode: forwards;
  }
  .fade-second {
    opacity: 0;
    animation-name: foreground-fade-in-and-translate;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-duration: 2s;
    animation-delay: -0.75s;
    animation-fill-mode: forwards;
  }
  .fade-third {
    opacity: 0;
    animation-name: foreground-fade-in-and-translate;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-duration: 2s;
    animation-delay: -0.5s;
    animation-fill-mode: forwards;
  }
  .fade-fourth {
    opacity: 0;
    animation-name: foreground-fade-in-and-translate;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-duration: 2s;
    animation-delay: -0.25s;
    animation-fill-mode: forwards;
  }
}

.aspect-ratio {
  overflow: hidden;
  height: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
